th{
    color : orange;
}
td{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
}
#newQte{
    margin-top: 10px;
    color: orange;
    font-weight: 400;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 238, 207);
}
#vider{
    width: 100%;
    background: #f39c12;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

#vider:hover{
    background: rgb(255, 240, 227);
    box-shadow: 0px 2px 20px 10px #ffcc5e;
    color: rgb(255, 149, 11);
}
#supprimer{
    margin-top: 10px;
    background: #ff5c5c;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

#supprimer:hover{
    background: rgb(255, 240, 227);
    box-shadow: 0px 2px 20px 10px #ff3e3e;
    color:  #ff5c5c;
}
#apply{
    background-color: #f39c12;
    color: white;
}
#codeC{
    color: #f39c12;
    font-family: 'Courier New', Courier, monospace;
}
#hdrpanier{
    background-color: #f39c12;
    color: white;
}
.clr{
    color: #f39c12;
}
